    .employees {

    }

    .employees thead th{
        color: #fff;
        font-weight: bolder;
    }

    .addEmployeesForm{
        border: 1px solid #ddd;
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, max-content);
        row-gap: 0.5rem; */
        background-color: #fff;
    }


    
    .addEmployeesForm  .field__container__cuz{
        margin: 2rem;
        display: none;
    }
    

